<% @title = @user.name %>
<p id="notice"><%= notice %></p>

<aside class="row">
	<section class="col col-lg-2">
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>	
		</h1>
	</section>

	<div class="col col-lg-10 pull-right">
		<% if @user.microposts.any? %>
		  <h3>Microposts (<%= @user.microposts.count %>)</h3>
		  <ol class="microposts">
		    <%= render @microposts %>
		  </ol>
		  <%= will_paginate @microposts %>
		<% end %>
	</div>
</aside>



